//
//  Debug.xcconfig
//  floatnote
//
//  Created by Michaela Barcia on 4/10/20.
//  Copyright © 2020 cascade.ai. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIGURATION = Debug
FLOATIE_SERVER_URL = http:/$()/localhost:8080
//FLOATIE_SERVER_URL = http:/$()/192.168.1.16:8080
//FLOATIE_SERVER_URL = http:/$()/98.217.177.35:8080
//FLOATIE_SERVER_URL = https:/$()/float-note-server.herokuapp.com
